@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        if (User.Identity.Name == "test@gmail.com") { 
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Admin <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Events", "Index", "Events", routeValues: null, htmlAttributes: new { title = "Event Management" })</li>
                        <li>@Html.ActionLink("Acivities", "Index", "Activities", routeValues: null, htmlAttributes: new { title = "Event Management" })</li>
                        <li class="divider"></li>
                        <li role="presentation" class="dropdown-header">Account Management</li>
                        <li>@Html.ActionLink("Add User", "Register", "Account", routeValues: null, htmlAttributes: new { title = "Create a new user" })</li>
                        <li>@Html.ActionLink("Manage Account", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
                    </ul>
                </li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            </ul>
        }
        else { 
            <ul class="nav navbar-nav navbar-right">
                 <li>@Html.ActionLink("Welcome " + User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            </ul>
        }
    }
}
else
{
            <ul class="nav navbar-nav navbar-right">
                @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
                <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            </ul>
        }
